@css { @layer  base, utilities, components, theme; }

@layer base
    body
        color #333
        font-family Helvetica, Arial, sans-serif
        margin 0
        padding 0
        font-size 1rem
        line-height 1.5
        background-color #f4f4f4
        padding 1rem
    h1
        font-size 3rem

    form
        font-size 0.8rem

@layer theme
    body
        color #846060
    .controls
        container-name controls
        container-type inline-size

@container controls (min-width: 48rem)
    form
        font-size 1rem
